.buttons{
    height: 55px;
    width: 55px;
    font-size: large;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: inline;
    margin: 20px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;

}

.buttons:hover{
    background-color: white;
    transform: scale(1.1);
    
}